body{
    font-family: Inter, sans-serif;
}

.h2-wrap > h2{
    font-size: 4.5rem !important;
    display: block;
    letter-spacing: -.004em;
    margin-bottom: 1.5rem !important;
    
}

/* .card-group{
    margin-bottom: 3rem;
} */

.section-header{
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 100%;
    background-color: #fefaf1;
    border-bottom:1px solid #e4e4e4 ;
}

.fauna-text-wrap{
    /* margin: 4rem; */
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
}

.h2-wrap{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    /* justify-content: center ; */
    padding-bottom: 4rem;
}

.h2-wrap > p{
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 1.25rem;
}

.card-container{
    margin-bottom: 2rem;
}

.alert-warning{
    margin-bottom: 7rem !important;
}

.fauna-malmo{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 7rem;
    /* grid-row-gap: 4rem; */
    grid-template-columns: 0.5fr 1fr;
    /* grid-template-rows: auto; */
}

.section-middle{
    width: 100%;
    background-color: #fefdfb;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-bottom:1px solid #e4e4e4 ;
}

.section-flora{
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 100%;
    background-color: #fefaf1;
    border-bottom:1px solid #e4e4e4 ;
}

.div-imgs{
    margin-bottom: 2rem;
}

.marg-bt{
    margin-bottom: 0px;
}


.div-imgs > img{
    height: 25rem;
    width: 26rem;
    object-fit: cover;
}

.article-malmo{
    margin: auto;
}

.div-visita{
    display: grid;
    background-color: #FEFDFB;
}

/* .div-section-flora{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    padding-bottom: 5rem;
} */

.container-flora{
    padding-bottom: 3rem;
}

.wrap-flora{
    text-align: center;
}

.section-flora-imgs{
    display: grid;
}

.content-section-flora{
    padding-top: 1rem;
}

/* .content-section-flora > h3{
    padding-bottom: 1rem;
} */

.group-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* .footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
} */

/* .second-part-footer{
    height: 100px;
} */

.first-part-footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.links-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-footer{
    font-size: 15px !important;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.panel-content{
    font-size: 15px;
    color: #787878;
}

.panel-content > p{
    margin-bottom: 10px;
}

.panel-content > p > a{
    text-decoration: none;
    color: #787878;
}

.panel-content > p > a:hover{
    text-decoration: underline;
    color: black;
}

.content-section-flora > p{
    text-align: justify;
}

.humedal-content > p{
    text-align: justify;
}

/* .card-body > p{
    text-align: justify;
} */

.card{
    border-radius: 0% !important;
    --bs-card-border-radius: 0px;
    --bs-card-inner-border-radius: 0px !important;
}

.accordion{
    --bs-accordion-btn-focus-border-color: transparent !important; 
    --bs-accordion-btn-focus-box-shadow: transparent !important;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-border-color: transparent !important;
    background-color: #FEFDFB !important;
    --bs-accordion-bg: #FEFDFB !important;
}

.accordion-button:not(.collapsed) {
    /* color: black !important; */
    background-color: transparent !important;
}

/* #807866 */

.acordeon-content{
    background-color: #FEFDFB;
    
}

.btn-acordion{
    background-color: #FEFDFB !important;
    border-bottom:1px solid #e4e4e4 !important ;
}

.btn-section{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    position: relative;
    align-items: center;
}


.btn-conoce{
    --bs-btn-bg: #FEFAF1
     !important;
    --bs-btn-hover-border-color: #FAE5B9 !important;
    /* --bs-btn-border-color: black !important; */
    height: 4rem;
    width: 10rem;
    letter-spacing: 1px;
    font-size: 20px;
    color: #807866;
    border-color: #FAE5B9 !important;
}

.btn-conoce > b{
    color: #58544c;
}

.btn-conoce > b:hover{
    color: black;
}

.btn-conoce:hover{
    background-color: #faeccc !important;
    
}

.btn-acordion > h5{
    color: #807866;
    letter-spacing: 1px;
}

.button-wrapper{
    width: 10rem;
    /* height: 6rem; */
}

.btn-acordion > h5:hover{
    color: black;
}

.div-uni-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4rem;
    border-top:1px solid #e4e4e4 ;
}

.div-uni-footer > a{
    font-size: 15px;
    color: #787878;
    text-decoration: none;
}

.div-uni-footer >a:hover{
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.ol-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
}

.imgs-ol{
    display: grid;
    /* grid-auto-rows: 1fr; */
}

.h3-section{
    text-align: center;
    border-top:1px solid rgb(97, 97, 97);
    border-bottom:1px solid rgb(97, 97, 97) ;
    /* margin-bottom: 5rem; */
}

.padding-h3{
    margin-bottom: 5rem;
}

.h3-section > h3{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.visita-header{
    display: flex;
    justify-content: center;
}

.accordion-item{

}

.whq-visita{
    margin-bottom: 2rem;
}

#nav-content{
    border-bottom:1px solid #e4e4e4 ;
    display: grid;
    height: 4.75rem;
    /* justify-content: flex-start; */
    background-color: #FEFDFB;
    color: #3e012f;
}

#logo-nav-content{
    /* display: flex;
    align-items: center; */
    position: relative;
    left: 60px;
}

#ul-nav-content{
    position: relative;
    right: 60px;
}

#fauna-content{
    /* margin-top: 30px; */
    padding-left: 5rem;
    padding-right: 5rem;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

#ul-list-content{
   align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.25rem;
}

#div-flora{
    padding-left: 5rem;
    padding-right: 5rem;
    /* display: flex; */
    justify-content: center;
    /* text-align: center; */
}

#container-list{
    display: flex;
}

#card-rio{
    display: flex;
}

/* .card > p{
    margin: 15px;
} */

/* .card > h3{
    text-align: center;
} */


